.m0{
    margin: 5px;
}
.m1{
    margin: 10px;
}
.m2{
    margin: 20px;
}

.mlr0{
    margin: 0 5px;
}

.mtb0{
    margin: 5px 0;
}

.p0{
    padding: 5px;
}
.p1{
    padding: 10px;
}
.p2{
    padding: 20px;
}

/* .ybd{
    border: 1px solid yellow;
}
.bd{
    border: 1px solid red;
}
.gbd{
    border: 1px solid green;
}*/

.fac{
    display: flex;
    justify-content: center;
    align-items: center;
}